{
    "plugins": ["@ianvs/prettier-plugin-sort-imports"],
    "semi": true,
    "printWidth": 120,
    "tabWidth": 4,
    "singleQuote": true,
    "bracketSpacing": true,
    "bracketSameLine": false,
    "useTabs": false,
    "arrowParens": "avoid",
    "trailingComma": "all",
    "endOfLine": "auto",
    "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
    "importOrder": [
        "joi",
        "@nestjs/(.*)$",
        "@apollo/(.*)$",
        "graphql(.*)$",
        "@opentelemetry/(.*)$",
        "@mikro-orm/(.*)$",
        "lodash",
        "<THIRD_PARTY_MODULES>",
        "^[./]"
    ],
    "importOrderSortSpecifiers": true,
    "importOrderMergeDuplicateImports": true
}
